.card{
background-color:blueviolet;
color: white;
/* height: 400px; */
width: 20%;
padding: 20px;
margin: 50px;
border-radius: 12px;
box-shadow: rgb(221, 29, 195) 5px 5px 50px;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.card img{
  height: 200px;
  border-radius: 20px;
}